<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin- County Reports</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
    <header>
    <h1>RAPID</h1>
    <p>Welcome to your Admin Dashboard, {{ username.capitalize() }}</p>
    <a href="{{ url_for('logout') }}" class="logout-link">Logout</a>
  </header>
  <nav>
    <a href="{{ url_for('demographics') }}">Demographics</a>
    <a href="{{ url_for('city_reports') }}">City Reports</a>
    <a href="{{ url_for('county_reports') }}">County Reports</a>
    <a href="{{ url_for('anticipated_costs') }}">Anticipated Costs</a>
    <a href="{{ url_for('mock_approval') }}">Mock Approval</a>
  </nav>
  <main>
    <a href="{{ url_for('all_submitted_reports') }}" class="back-btn">&larr; Back to Dashboard</a>
    <section>
      <h2>County Reports</h2>
      <p>Here will list all county reports.</p>
    </section>
  </main>
  <footer>
    <p>RAPID</p>
  </footer>
</body>
</html> 