<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Admin- County Reports</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
  <header>
    <h1>RAPID</h1>
    <p>County Reports</p>
  </header>
  <main>
    <a href="{{ url_for('dashboard') }}" class="back-btn">&larr; Back to Dashboard</a>
    <section>
      <h2>County Reports</h2>
      <p>Here will list all county reports.</p>
    </section>
  </main>
  <footer>
    <p>RAPID</p>
  </footer>
</body>
</html> 