<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>RAPID - Community Demographics</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
</head>
<body>
  <header>
    <h1>RAPID</h1>
    <p>Community Demographics</p>
  </header>
  
  <main>
    <section>
      <h2>Community Demographics</h2>
      <p>Will display demographic information about the community and relevant statistics.</p>
      <!-- GOING TO ADD INFO HERE -->
    </section>
    <a href="{{ url_for('dashboard') }}" class="back-btn">&larr; Back to Dashboard</a>
  </main>
  <footer>
    <p>RAPID</p>
  </footer>
</body>
</html> 